*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: cursive;
}
body{
  background-color: #fcf5dc;
}

.header{
  width:100%;
  line-height:100px;
  background-color: #c2956e;
  display:flex;
  /* justify-content: start;  */
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  color:white;
}

i{
  font-size:60px;
  padding:15px;
  /* height: 40px;
  width: 50px; */
  color:white;
}
.main_note{
  width:500px;
  padding:15px 10px 5px 10px;
  margin:20px auto;
  
}

.my_note h1{
  color:#212121;
}

.my_note p{
  color: #212121;
}

form{
  min-height:50px;
  color:#fffafa;
  padding:15px 10px 5px 10px;
  box-shadow:3px 5px 15px -5px #212121;
  border-radius:10px;
  position:relative;
}

input{
  width:100%;
  line-height:30px;
  background-color: #fffafa;
  border:none;
  outline:none;
  font-size: 1.5rem;
  margin:10px 0;
  font-weight:bold;
}

textarea{
  width:100%;
  line-height: 30px;
  background:transparent;
  border:none;
  outline:none;
  font-size: 1rem;
  margin:10px 0;
}

.MuiButton-root{
  width:30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left:400px;
  cursor:pointer;
  background-color: #c2956e !important;
  border-radius:50% !important;
}

.MuiButton-root .plus_sign{
 font-size: 45px !important;
 font-weight: 900;
 color:white;
 cursor:pointer;
 /* z-index:2; */
 background: transparent;
}

.MuiButton-root:hover{
  background: #212121 !important;
}

.MuiButton-root:hover .plus_sign{

  color:white;
  background: transparent;
}

.note{
  background-color: #fffafa;
  border:7px solid #fcf5dc;
  border-radius: 7px;
  box-shadow: 0 2px 5px #c2956e;
  padding:10px;
  width:240px;
  margin:16px;
  float:left;
}

.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .btn{
  position: realtive;
  float:right;
  /* margin-right:100px; */
  background-color: #c2956e;
  border-radius: 2px;
  border: none;
  height:32px;
  width:35px;
}

.note .btn:hover{
  background-color: black;
}
.note .btn .deleteIcon{
  color:white;
}

.note .btn:hover .deleteIcon{
  color: white;
}

footer{
  width:100%;
  position:absolute;
  bottom:0;
  text-align: center;
  padding:15px;
  color: white;
  background-color: #c2956e;
}